<div class="quickview-button">
    <a class="button button--small" rel="nofollow" data-analytics='<%= analytics_data %>' href="<%= url %>"><%= I18n.t('workarea.storefront.products.quick_view') %></a>
</div>
