- cache "#{@product.cache_key}/quickview", expires_in: 1.hour do
  %div{ class: "product-details--#{@product.template} product-details", itemscope: true, itemtype: 'http://schema.org/Product', data: { analytics: product_quickview_analytics_data(@product).to_json } }
    = render "workarea/storefront/products/templates/#{@product.template}", product: @product
